{% extends 'base.html.twig' %}

{% block title %}ToDo App{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Welcome to your ToDo App ✅</h1>
    <form action='/todo/add' method='POST'>
        <input type='text' name='newTodoName' />
        <input type='text' name='newTodoValue' />
        <button type='submit' >Add!</button>
    </form>

    <div class='container'>
        Your To-Dos
        <ul>
            {% for key, value in todoList %}
                <li>
                    <div class='todo-title'>{{ key }}</div>
                    <div class='todo-value'>{{ value }}</div>
                </li>
            {% endfor %}
        </ul>
    </div>
    
</div>
{% endblock %}
